header {
  width: 100%;
  height: 100px;
  background: #052962;
}

.header-wrapper {
  width: 1300px;
  height: 100%;
  display: grid;
  grid-template-columns: 18% 62% 20%;
  grid-template-rows: 70px 30px;
}

.menu-time{
  color: #DAC71B;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media(max-width: 1368px){
  .header-wrapper {
    width: 1200px;
  }
}

@media(max-width: 1268px) {
  .header-wrapper {
    width: 1100px;
  }
}

@media(max-width: 1168px) {
  .header-wrapper {
    width: 1000px;
    grid-template-columns: 18% 58% 24%;
  }
}

@media(max-width: 1068px) {
  .header-wrapper {
    width: 900px;
  }
}

@media(max-width: 968px) {
  .header-wrapper {
    width: 800px;
  }
}

@media(max-width: 868px) {
  header {
    height: 60px;
  }
  .header-wrapper {
    width: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    display: grid;
    grid-template-rows: auto;
  }
  .menu-time {
    display: none;
  }
}


@media(max-width: 668px) {
  header {
    height: 50px;
  }
}