.navbar-menulist {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.menu-small {
  display: none;
}

.menu-big {
  flex-direction: row;
  height: 30px;
}

.menu-big a, .menu-big span {
  display: inline-block;
  height: 30px;
  width: 110px;
  line-height: 30px;
  margin-left: 5px;
  color: #E9E7D7;
  transition: all 0.2s ease-in;
}

.menu-big span {
  margin-left: 0;
}

.menu-big a:hover, .menu-big span:hover {
  cursor: pointer;
  color: #DAC71B;
  transition: all 0.2s ease-in;
}


@media (max-width: 1268px){
  .menu-big a, .menu-big span {
    width: 100px;
  }
}

@media (max-width: 1168px) {
  .menu-big a, .menu-big span {
    width: 90px;
  }
}

@media (max-width: 1068px) {
  .menu-big a, .menu-big span {
    width: 85px;
  }
}

@media (max-width: 968px) {
  .menu-big a, .menu-big span {
    width: 75px;
  }
}

@media (max-width: 868px) {
  .navbar-menulist {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .menu-big {
    display: none;
  }
  .menu-small {
    display: block;
  }
  .menu-small-burger {
    margin-left: 20px;
    width: 60px;
    height: 60px;
  }
  .menu-small-burger span {
    width: 22px;
    height: 22px;
  }
  .menu-small-burger span svg path, .small-list-button span svg path {
    fill: #DAC71B;
    transition: all 0.2s ease-in;
  }
  .menu-small-burger span:hover svg, .small-list-button span:hover path {
    cursor: pointer;
    fill: #F1E043;
    transition: all 0.2s ease-in;
  }
  .menu-small-lists {
    left: -340px;
    position: fixed;
    width: 320px;
    height: 100vh;
    z-index: 300;
    top: 0;
    padding-right: 10px;
    background: rgba(5, 41, 98, 0.95);
    overflow-y: scroll;
    transition: 0.2s ease-in;
  }
  .show-list {
    left: 0;
    transition: 0.2s ease-in;
  }
  .small-list-button {
    width: 100%;
    height: 27px;
    margin-top: 25px;
  }
  .small-list-button span{
    width: 27px;
    height: 27px;
    margin-right: 27px;
    float: right;
  }
  .small-list-button span svg{
    width: 22px;
    height: 22px;
  }
  .small-list-items {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .side-menu-items {
    width: 130px;
    min-height: 200px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 10px 0 0 10px;
  }
  .side-menu-items .display-7{
    font-weight: 600;
    margin-bottom: 5px;
    color: #D7C635;
  }
  .side-menu-items a {
    text-decoration: none;
  }
  .side-menu-items span{
    display: block;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #CFCFCF;
    transition: all 0.3s ease-in
  }
  .side-menu-items span:hover {
    cursor: pointer;
    color: #FFEA30;
    transition: all 0.3s ease-in
  }
}

@media (max-width: 668px) {
  .menu-small-burger {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }
}

@media (max-width: 468px) {
  .menu-small-burger {
    margin-left: 10px;
  }
}

@media (max-width: 380px) {
  .menu-small-burger {
    margin-left: 10px;
  }
  .menu-small-lists {
    width: 100%;
    overflow-x: hidden;
    left: -390px;
  }
  .show-list {
    left: 0;
    transition: 0.2s ease-in;
  }
}

@media (max-width: 320px) {
  .small-list-items {
    margin: 10px 0 0 0;
  }
  .side-menu-items {
    width: 120px;
  }
}
