
.theme-one-a .left a, .theme-one-b .left a, .theme-one-a .left, 
.theme-one-b .left {
  color:#145794
}

.theme-one-a .news-item a, .theme-one-b .news-item a{
  color:#145794;
}

.theme-one-a .news-item, .theme-one-b .news-item {
  background: #EEF7FF;
}

.theme-one-a .news-item:hover, .theme-one-b .news-item:hover {
  background: #DBE9F6;
  transition: all 0.3s ease-in;
}

.theme-one-a .item-1 a, .theme-one-a .item-2 a{
  color: #FFD6D6;
}

.theme-one-a .item-1, .theme-one-a .item-2 {
  background: #145794;
}

.theme-one-a .item-1:hover, .theme-one-a .item-2:hover{
  background: #2E6FAB;
  transition: all 0.3s ease-in;
}

/* theme one B */
.theme-one-b .item-1 a, .theme-one-b .item-2 a{
  color:#145794;
}

.theme-one-b .item-1, .theme-one-b .item-2 {
  background: #EEF7FF;
}

.theme-one-b .item-1:hover, .theme-one-b .item-2:hover{
  background: #DBE9F6;
  transition: all 0.3s ease-in;
}