.footer-bottom {
  width: calc(100% - 20px);
  margin: 30px 0 30px 0;
  min-height: 80px;
  flex-direction: row;
  padding: 0 10px;
  border-top: 1px solid #D7C635;
  justify-content: space-between;
}

.bottom-wrapper {
  width: 33%;
}

.bottom-wrapper:nth-child(3) {
  text-align: right;
}

.footer-bottom span, .footer-bottom a {
  color: #CFCFCF;
}

.footer-bottom a {
  text-decoration: none;
  margin-left: 3px;
}

.bottom-wrapper:nth-child(2) {
  flex-direction: row;
}

.bottom-wrapper:nth-child(2) span{
  width: 38px;
  margin: 0 5px;
  transition: all 0.15s ease-in
}

.bottom-wrapper:nth-child(2) span:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.15s ease-in

}

.bottom-wrapper:nth-child(2) .logo-icon img{
  width: 100%;
}



@media (max-width: 1168px){
  .footer-bottom {
    min-height: 100px;
  }
  .bottom-wrapper:nth-child(2) span {
    width: 35px;
  }
}

@media (max-width: 868px){
  .footer-bottom {
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px 0 10px;
  }
  .bottom-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .bottom-wrapper:nth-child(2) span {
    width: 32px;
  }
  .bottom-wrapper:nth-child(3) {
    text-align: center;
  }
}