.footer {
  margin-top: 80px;
  width: 100%;
  min-height: 450px;
  background: #052962;
}

.footer-wrapper {
  width: 1300px;
  height: 100%;
  padding-top: 60px
}

.footer-menu-wrapper {
  flex-direction: row;
  width: 100%;
  min-height: 200px;
}

.footer-menu {
  width: 780px;
  min-height: 300px;
  /* float: left; */
  border-right: 1px solid #D7C635;
}


.menu-block-section {
  width: 160px;
  float: left;
  margin: 0 0 5px 20px;
  padding: 10px 0 0 10px;
  background: #0B306B;
}

.menu-wrapper {
  min-height: 220px;
}

.menu-wrapper a {
  text-decoration: none;
}

.menu-block-section .display-7 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #D7C635;
}

.menu-block-section span {
  font-weight: 500;
  display: block;
  height: 22px;
  line-height: 22px;
  margin-bottom: 5px;
  color: #CFCFCF;
  transition: all 0.3s ease-in
}

.menu-block-section span:hover {
  cursor: pointer;
  color: #FFEA30;
  transition: all 0.3s ease-in
}

.menu-block-2 {
  min-height: 180px;
}







@media (max-width: 1368px) {
  .footer-wrapper {
    width: 1200px;
  }
  .footer-menu {
    width: 730px;
  }
  .menu-block-section {
    width: 150px;
  }
}

@media(max-width: 1320px) {
  .footer-wrapper {
    width: 100%;
  }
}

@media (max-width: 1268px) {
  .footer-wrapper {
    width: 1100px;
  }
  .footer-menu {
    width: 680px;
  }
  .menu-block-section {
    width: 140px;
  }
}

@media (max-width: 1168px) {
  .footer-wrapper {
    width: 1000px;
  }
  .footer-menu {
    width: 630px;
  }
  .menu-block-section {
    width: 132px;
    margin: 0 0 5px 15px;
    padding: 10px 0 0 10px;
  }
}

@media (max-width: 1068px) {
  .footer-wrapper {
    width: 900px;
  }
  .footer-menu {
    width: 581px;
  }
  .menu-block-section {
    width: 120px;
  }
}

@media (max-width: 968px) {
  .footer-wrapper {
    width: 800px;
  }
  .footer-menu {
    width: 581px;
  }
  .menu-block-section {
    width: 122px;
    margin: 0 0 5px 5px;
    padding: 5px 0 0 5px;
  }
}

@media (max-width: 868px) {
  .footer-wrapper {
    width: 700px;
  }
  .footer-menu-wrapper {
    flex-direction: column;
  }
  .footer-menu {
    width: 100%;
    border-right: none;
  }
  .menu-block-section {
    width: 145px;
    margin: 0 10px 5px 10px;
    padding: 5px 0 0 10px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    width: 600px;
  }
  .menu-block-section {
    width: 120px;
  }
}

@media (max-width: 668px) {
  .footer-wrapper {
    width: 500px;
  }
  .menu-block-section {
    width: 105px;
    margin: 0 5px 5px 5px;
    padding: 5px 0 0 10px;
  }
}

@media (max-width: 568px) {
  .footer-wrapper {
    width: 400px;
  }
  .menu-block-section {
    width: 113px;
    margin: 0 5px 5px 5px;
    padding: 5px 0 0 10px;
  }
  .menu-block-2 {
    min-height: 220px;
  }
}

@media (max-width: 468px) {
  .footer-wrapper {
    width: 380px;
  }
  .menu-block-section {
    width: 106px;
  }
}

@media (max-width: 400px) {
  .footer-wrapper {
    width: 300px;
  }
  .menu-block-section {
    width: 130px;
  }
}

@media (max-width: 340px) {
  .footer-wrapper {
    width: 290px;
  }
  .menu-block-section {
    width: 125px;
  }
}

