


.footer-logo {
  width: 519px;
  min-height: 430px;
  float: right;
  background: orangered;
  background: rgba(240,240,240, 0.1);
}

.footer-logo img {
  width: 55%;
}

.text-saying {
  color: #DAC71B;
  font-weight: 500;
  margin: 15px 0 20px 0
}

.text-credit{
  margin-bottom: 20px
}

.text-credit span{
  display: block;
  line-height: 25px;
  text-align: center;
  color: #CFDDF2;
  
}

.text-credit span a{
  text-decoration: none;
  color: orangered
}

.text-credit span a:hover, .text-developer span a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.text-developer span{
  text-align: center;
  width: 100%;
  letter-spacing: -0.15px;
  font-weight: 500;
  display: block;
  color: #CFDDF2;
}

.text-developer span a{
  margin-left: 5px;
  text-decoration: none;
  color: #DAC71B;
}


@media (max-width: 1368px){
  .footer-logo {
    width: 469px;
  }
  .footer-logo img {
    width: 60%;
  }
}

@media (max-width: 1268px){
  .footer-logo {
    width: 419px;
  }
  .footer-logo img {
    width: 60%;
  }
}

@media (max-width: 1168px) {
  .footer-logo {
    width: 369px;
  }
  .footer-logo img {
    width: 60%;
  }
}

@media (max-width: 1068px) {
  .footer-logo {
    width: 319px;
  }
  .footer-logo img {
    width: 60%;
  }
  .text-saying {
    text-align: center;
  }
}

@media (max-width: 968px) {
  .footer-logo {
    width: 290px;
    min-height: 410px;
  }
  .footer-logo img {
    width: 60%;
  }
}

@media (max-width: 868px) {
  .footer-logo {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 210px;
    margin-top: 40px;
  }
  .image-content {
    width: 250px;
  }
  .footer-logo img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .image-content {
    width: 250px;
  }
}

@media (max-width: 668px) {
  .footer-logo {
    margin-top: 20px;
  }
}

@media (max-width: 568px) {
  .footer-logo {
    flex-direction: column;
    min-height: 330px;
    justify-content: center;
  }
  .image-content {
    width: 100%;
  }
  .footer-logo img {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .image-content {
    width: 90%;
  }
}