
.layout-three {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  min-height: 295px;
  background: white;
  padding: 15px 0px;
  border-top: 1px solid gray;
}

.layout-three .left {
  width: 190px;
  min-height: 250px;
  margin-right: 8px;
  padding: 0 5px;
}

.layout-three .left a {
  color: none;
  text-decoration: none;
}

.layout-three .left a:hover {
  text-decoration: underline;
}

.layout-three .left h2 {
  font-weight: 500;
}

.layout-three .news-layout {
  width: 1076px;
  min-height: 360px;
}

.layout-three .layout-wrapper {
  display: grid;
  grid-template-columns: 265.25px 265.25px 265.25px 265.25px;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px
}

.layout-three .news-item {
  padding: 8px;
  min-height: 20px;
  transition: all 0.3s ease-in;
}

.layout-three .news-item a{
  text-decoration: none;
}


.layout-three .news-item p {
  font-weight: 500;
  margin-bottom: 8px;
  min-height: 50px;
}

.layout-three .news-item span {
  margin-top: 5px;
  font-weight: 400;
}

.layout-three .news-item img {
  width: 100%;
  margin-bottom: 8px;
}

.layout-three .item-1 {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 5;
}

.layout-three .item-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.layout-three .text-wrapper {
  width: 100%;
}

.layout-three .text-wrapper .timer{
  width: 100%;
  float: right;
}

.layout-three .item-1 .text-wrapper span, .layout-three .item-2 .text-wrapper span {
  display: block;
}

.layout-three .item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.layout-three .item-1 .text-wrapper, .layout-three .item-2 .text-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 240px;
  justify-content: space-between;
  /* background: red; */
}

.layout-three .item-3 img,
.layout-three .item-4 img,
.layout-three .item-5 img,
.layout-three .item-6 img {
  width: calc(28% - 5px);
  margin-right: 5px;
  margin-bottom: 0;
  float: left
}
.layout-three .item-3 .text-wrapper,
.layout-three .item-4 .text-wrapper,
.layout-three .item-5 .text-wrapper,
.layout-three .item-6 .text-wrapper {
  width: 72%;
  padding-top: 5px;
  border-top: 1px solid gray;
  float: right;
}

.layout-three .item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.layout-three .item-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.layout-three .item-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

@media (max-width: 1368px){
  .layout-three .left {
    width: 170px;
  }
  .layout-three .news-layout {
    width: 1022px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 251.75px 251.75px 251.75px 251.75px;
  }
}

@media (max-width: 1268px) {
  .layout-three .left {
    width: 160px;
  }
  .layout-three .news-layout {
    width: 932px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 229.25px 229.25px 229.25px 229.25px;
  }
}

@media (max-width: 1168px) {
  .layout-three .left {
    width: 150px;
  }
  .layout-three .news-layout {
    width: 842px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 206.75px 206.75px 206.75px 206.75px;
  }
}

@media (max-width: 1068px) {
  .layout-three {
    flex-direction: column;
    align-items: center;
  }
  .layout-three .left {
    width: 900px;
    min-height: 40px;
    margin: 0 0 5px 0;
  }
  .layout-three .left h2 {
    line-height: 40px;
  }
  .layout-three .news-layout {
    width: 900px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 221.25px 221.25px 221.25px 221.25px;
  }
}


@media (max-width: 968px) {
  .layout-three .left {
    width: 800px;
  }
  .layout-three .left h2 {
    line-height: 40px;
  }
  .layout-three .news-layout {
    width: 800px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 397.5px 397.5px;
  }
  .layout-three .item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .layout-three .item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .layout-three .item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .layout-three .item-1 .text-wrapper, .layout-three .item-2 .text-wrapper {
    min-height: 140px;
  }
  .layout-three .item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .layout-three .item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .layout-three .item-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}



@media (max-width: 868px) {
  .layout-three .left, .layout-three .news-layout {
    width: 700px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 347.5px 347.5px;
  }
}


@media (max-width: 768px) {
  .layout-three .left, .layout-three .news-layout {
    width: 600px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 297.5px 297.5px;
  }
}

@media (max-width: 668px) {
  .layout-three .left, .layout-three .news-layout {
    width: 500px;
  }
  .layout-three .layout-wrapper {
    grid-template-columns: 247.5px 247.5px;
  }
}

@media (max-width: 568px) {
  .layout-three .left, .layout-three .news-layout {
    width: 400px;
  }
  .layout-three .layout-wrapper {
    display: block;
  }
  .layout-three .news-item {
    margin-bottom: 8px;
    min-height: 60px;
  }
  .layout-three .news-item p {
    min-height: 30px;
  }
  .layout-three .news-item span {
    margin-top: 2px;
  }
  .layout-three .item-1 .text-wrapper,
  .layout-three .item-2 .text-wrapper {
    min-height: 120px;
  }
  .layout-three .item-3 .text-wrapper,
  .layout-three .item-4 .text-wrapper,
  .layout-three .item-5 .text-wrapper,
  .layout-three .item-6 .text-wrapper {
    width: 100%;
  }
  .layout-three .item-3 img, .layout-three .item-4 img, .layout-three .item-5 img,
  .layout-three .item-6 img {
    display: none;
  }
}



@media (max-width: 468px) {
  .layout-three .left, .layout-three .news-layout {
    width: 380px;
  }
  .layout-three .layout-wrapper {
    display: block;
  }
  .layout-three .news-item {
    margin-bottom: 8px;
    min-height: 70px;
  }
  .layout-three .news-item p {
    min-height: 30px;
  }
  .layout-three .news-item span {
    margin-top: 2px;
  }
  .layout-three .item-1 .text-wrapper, .layout-three .item-2 .text-wrapper {
    min-height: 120px;
  }
  .layout-three .item-3 .text-wrapper,
  .layout-three .item-4 .text-wrapper,
  .layout-three .item-5 .text-wrapper,
  .layout-three .item-6 .text-wrapper {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .layout-three .left, .layout-three .news-layout {
    width: 320px;
  }
}

@media (max-width: 340px) {
  .layout-three .left, .layout-three .news-layout {
    width: 290px;
  }
}